@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
::-webkit-scrollbar:horizontal{
    display: none;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

    
}

 
/* Handle */
::-webkit-scrollbar-thumb {
    
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    
    ;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   ;
}